<div id="api">
  <h1>Data from Api's</h1>
  <div class="card">
    <img class="card-img-top" src="{{randomDog}}"/>
    <h1 class="card-title">Random Dog</h1>

  </div>

  <div class="card">
    <img class="card-img-top" src="{{randomFox}}"/>
    <h2 class="card-title">Random Fox</h2>

  </div>

  <div class="card">
    <img class="card-img-top" src="{{randomShibe}}"/>
    <h2 class="card-title">Random Shibe</h2>
  </div>

  <div class="card">
    <img class="card-img-top" src="{{catCode}}"/>
    <h2 class="card-title">Cat Code</h2>
  </div>
</div>



<!--<div class="[ card ]" *ngFor="let weather of weatherDetail">
      Sky Conditions: {{ weather.weather_state_name }}<br />
      Min Tempreture: {{ weather.min_temp }}<br />
      Max Tempreture: {{ weather.max_temp }}<br />
      Actual Tempreture: {{ weather.the_temp }}<br />
      Date Created: {{ weather.created }}<br />
      Humidity: {{ weather.humidity }}<br />
</div>-->
