main {
  text-align: center;

  h1 {
    font-weight: bold;
    margin-bottom: 5px;
  }

  hr {
    width: 80%;
    opacity: 0.5;
  }

  .card {
    display: inline-block;
    width: 500px;
    text-align: center;

    margin-right: 20px;
    margin-top: 5px;
    padding: 5px;

    h2 {
      text-decoration: underline;
      margin-top: 5px;
    }

    img {
      width: 100%;
    }
  }
}
