<main>
  <h1>Cats and Dogs</h1>
  <hr/>

  <div class="card">
    <img class="card-img-top" src="{{api.dog}}"/>
    <h2 class="card-title">Random Dog</h2>

  </div>

  <div class="card">
    <img class="card-img-top" src="{{api.fox}}"/>
    <h2 class="card-title">Random Fox</h2>

  </div>

  <div class="card">
    <img class="card-img-top" src="{{api.shibe}}"/>
    <h2 class="card-title">Random Shibe</h2>
  </div>

  <div class="card">
    <img class="card-img-top" src="{{api.cat}}"/>
    <h2 class="card-title">Cat Status Code</h2>
  </div>
</main>
